<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title>My Task</title>

    <meta name="description" content="">

    <meta name="author" content="Steven Ban">
    <style type="text/css">

        body {

            padding-top: 60px;

        }

    </style>

    <!--[if lt IE 9]>

    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->

</head>



<body>



<div class="navbar navbar-fixed-top">

    <div class="navbar-inner">

        <div class="container">

            <a class="brand" href="/">My Task - Task management for patent examiner!</a>


        </div>
    </div>

</div>

<div class "page-content">
        {% block content %}
        {% endblock %}
</div>



<div class="container">


    <p><hr></p>



    <footer class="row">

        <div class="span6">

            <p>This is a website based on django.</p>

        </div>

        <div class="span6" style="text-align:right">

            <p>Developed by Steven.

            </p>

        </div>

    </footer>



</div> <!-- container -->



</body>

</html